body{
  margin:0;
  height:100vh;
}
/* .content_button{
  display:none;
} */
#left_control{
  /* background-color: #242424; */
  position: fixed;
  z-index:2;
  left: 0;
  height:100vh;
  width: 420px;
  /* background-color: #242424; */
}
#MuSick_logo{
  background-color: #242424;
  height:60px;
  width:230px;
  background-image: url("../logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 10px;
  position:fixed;
  z-index: 100;
  cursor:pointer;
}
#drop_here{
  display:none;
  text-align: center;
  margin-top: calc(50vh - 55px);
  font-size:x-large;
  font-weight: bolder;
}
#list_edit{
  height:34px;
  width:404px;
  padding-left:8px;
  background-color: #303030;
  margin-top: 60px;
  z-index:2;
  border: 3px solid #242424;
  border-bottom: 5px solid #242424;
}
#list_edit > p{
  color:#b5b5b5;
  margin-left: 10px;
  margin-top:5px;
}
#list_wrapper{
  background-color: #242424;
  height:calc(100vh - 170px);
  width:417px;
}
#input_file{
  display: none;
}
#list{
  padding-left:0;
  margin: 0px;
  margin-top: 0px;
  margin-bottom:120px;
  margin-left: 10px;
  padding-top:3px;
  padding-bottom:5px;
  height: calc(100vh - 180px);
  background-color: #202020;
  border-right:20px solid #202020;
  border-left:15px solid #202020;
  width: 360px;
  list-style: none;
  overflow-y: scroll;
  overflow-x:hidden;
  border-radius: 1px;
}
#list::-webkit-scrollbar {
  display:none;
}
.content{
  display: flex;
  margin-top:5px;
  margin-bottom:5px;
  background-color: #303030;
  border-radius:5px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 70px;
  width: 100%;
  transition: 0.1s ;
}
.content:hover{
  transform:scale(0.92);
  transition: 0.1s ;
  background-color: #383838;
  border-top: 4px solid #ff3b35;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 4px solid #ff3b35;
  /* border-top: 2px solid #5168ff;
  border-left: 3px solid #5168ff;
  border-bottom: 2px solid #cbb1ff;
  border-right: 3px solid #cbb1ff; */
  cursor: pointer;
}
@keyframes streaming {
  0%{
    border-color: rgb(220, 64, 64);
  }
  14.2%{
    border-color: rgb(160, 160, 64);
  }
  28.5%{
    border-color: rgb(64, 220, 64);
  }
  42.7%{
    border-color: rgb(64, 174, 128);
  }
  57%{
    border-color: rgb(64, 128, 174);
  }
  71.2%{
    border-color: rgb(64, 64, 220);
  }
  85.5%{
    border-color: rgb(160, 64, 160);
  }
  100%{
    border-color: rgb(220, 64, 64);
  }
}
.content.playing{
  transform:scale(0.92);
  transition: 0.1s ;
  background-color: #383838;
  border-top: 3px solid #ff3b35;
  border-right: 3px solid #ff3b35;
  border-bottom: 3px solid #ff3b35;
  border-left: 3px solid #ff3b35;
  animation-name: streaming;
  animation-duration: 3.0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  /* border-top: 2px solid #5168ff;
  border-left: 3px solid #5168ff;
  border-bottom: 2px solid #cbb1ff;
  border-right: 3px solid #cbb1ff; */
  cursor: pointer;
}
.folder{
  margin-top:5px;
  margin-bottom:5px;
}
.folder_bar{
  display: flex;
  background-color: rgb(224, 240, 255);
  height: 70px;
  width: 100%;
}
.folder_bar:hover{
  transition: 0.1s ;
  border-top: 5px solid rgb(100, 180, 255) ;
  border-bottom: 5px solid rgb(80, 180, 255) ;
}
.icon_wrapper{
  margin-left:2px;
  margin-right:5px;
  margin-top:15px;
}
.icon{
  height:40px;
  width: 40px;
}
.icon2{
  height:32px;
  width: 40px;
}
.name_wrapper{
  display:table;
}
p{
  font-family:meiryo;
  margin:0px;
}
.name{
  color:#b5b5b5;
  width:220px;
  font-size:18px;
  display:table-cell;
  vertical-align:middle;
}
#control_switch{
  background-color:#242424;
  z-index: 100;
  width:417px;
  height:60px;
  margin:0px;
  padding:0px;
  padding-top: 10px;
  display:flex;
}
#musicup{
  width:210px;
  display:table-cell;
  border-right: 1px solid black;
}
#musicup_inner{
  border-radius:10px;
  height:80%;
  z-index:4;
  margin-left:15%;
  margin-right:5%;
  width:70%;
  display:flex;
}
#musicup_inner:hover{
  cursor:pointer;
}
#musicup_inner > p{
  display:table-cell;
  color: #eee;
  margin-top:15px;
  margin-left:18px;
  z-index:3;
}
#Musicup_icon{
  margin-left: 10px;
  margin-top: 10px;
  height: 35px;
  width: 35px;
}
#lobby{
  width:210px;
  display:table-cell;
}
#lobby_inner{
  border-radius:10px;
  height:100%;
  margin-left:15%;
  margin-right:5px;
  width:70%;
  display:flex;
  z-index:4;
}
#lobby_inner > p{
  display:table-cell;
  color: #eee;
  margin-top:15px;
  margin-left:18px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
#lobby_inner:hover{
  cursor:pointer;
}
#lobby_icon{
  margin-left: 10px;
  margin-top: 10px;
  height: 35px;
  width: 35px;
}
#PlayTable{
  height:100px;
  margin-left: 230px;
  background-color: #242424;
  width: calc(100vw - 230px);
  position: fixed;
  z-index:1;
  display: flex;
}
#select_Set{
  margin-left: 20px;
  height: 60px;
  width: 160px;
}
#playing_icon{
  z-index: 100;
  background-repeat:no-repeat;
  background-size: contain;
  background-color: #303030;
  background-position-x:center;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  width:100px;
  margin-left: 60px;
  display:table-cell;
}
#queue_list{
  padding: 0;
  margin:0px;
  margin-left: 50px;
  height: 100px;
  width: 100px;
  /* background-color: blue; */
  z-index:3;
  display:table-cell;
}
#Background{
  background-color:#202020;
  background-size:cover;
  background-repeat: no-repeat;
  width:100vw;
  height: calc(100vh - 100px);
}
#MainPlayer{
  margin-left: 417px;
  width:calc((100vw - 420px));
  height:calc(100vh - 100px);
}
